* {
	font-family: 'Arimo', sans-serif;
}

body {
	text-align: center;
	font-family: 'Arimo', sans-serif;
	background-color: rgba(176, 141, 200, .5);
	color: rgba(26, 2, 42);
}

.box1 {
	width: 70%;
	height: 100px;
	font-family: 'Arimo', sans-serif;
	font-size: 30px;
	margin: 20px;
	color: white;
	background-color: rgba(58, 19, 85);
	border-radius: 15px;
}

.box2 {
	font-size: 35px;
	margin-top: 20px;
	margin-bottom: 40px;
}

.box3 {
	display: flex;
	justify-content: center;
	margin: 30px;
}

.button {
	/*border: 2px solid;*/
	width: 200px;
	height: 175px;
}

#button1 {
	border-top: none;
	border-bottom: 4px solid rgba(58, 19, 85);
	border-left: none;
	border-right: 4px solid rgba(58, 19, 85);
}

#button2 {
	border-top: none;
	border-bottom: 4px solid rgba(58, 19, 85);
	border-left: none;
	border-right: 4px solid rgba(58, 19, 85);
}

#button3 {
	border-left: none;
	border-right: 4px solid rgba(58, 19, 85);
	border-bottom: none;
	border-top: none;
}

#button4 {
	border-top: none;
	border-bottom: 4px solid rgba(58, 19, 85);
	border-left: none;
	border-right: 4px solid rgba(58, 19, 85);
}

#button5 {
	border-top: none;
	border-bottom: 4px solid rgba(58, 19, 85);
	border-left: none;
	border-right: 4px solid rgba(58, 19, 85);
}

#button6 {
	border-left: none;
	border-right: 4px solid rgba(58, 19, 85);
	border-bottom: none;
	border-top: none;
}

#button7 {
	border-bottom: 4px solid rgba(58, 19, 85);
}

#button8 {
	border-bottom: 4px solid rgba(58, 19, 85);
}

p {
	font-size: 70px;
	margin: 0;
	padding-top: 40px;
	height: 139px;
	color: rgba(1, 32, 39);
}


